<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %} 
      Book 
      {% endblock title %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    {% include "navbar.html" %}
    <main>{% block content %} {% endblock content %}</main>
    {% include "message.html" %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
